* {
    margin: 0;
    padding: 0;
}

#btn {
    background-color: cadetblue;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

#btn:active {
    padding: 8px 22px;
}

div {
    background-color: rgb(112, 112, 112);
    margin: 20px;
}

div img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

#box1 {
    display: block;
    height: 250px;
    width: 300px;
}

#box2 {
    display: inline;
    height: 400px;
    width: 500px;
}

#box3 {
    display: none;
}

#box4 {
    display: inline-block;
    height: 350px;
    width: 450px;
}