.food-section {
    background-color: white;
    padding: 12px;
}

.container {
    max-width: 72rem;
    margin: 0 auto;
}

.sub-heading {
    font-size: 20px;
    font-weight: bold;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px 0px;
}

.food img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 450px) {
    .food-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px 0px;
    }

}