* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    background-color: azure;
    gap: 40px;
}

.left-img {
    width: 45%;
}

.left-img img {
    /* height: 400px; */
    width: 100%;
    /* width: 100vh; */
    /* width: 100vw; */
    /* height: 100vmax; */
}

.right-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    /* text-align: right; */
    font-size: 20px;
}

.right-content h3 {
    font-size: 45px;
}

.right-content p {
    font-size: 20px;
    /* font-size: 1rem; */
    /* font-size: 1em; */
    /* color: blueviolet; */
    /* color: #fff; */
    /* color: #000000; */
    /* color: rgb(0, 0, 0); */
    /* color: rgb(0, 255, 255); */
    color: rgba(0, 0, 0, 0.151);
}

.rotate {
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 100px;
    /* transform: rotateX(45deg); */
    /* transform: rotateY(60deg); */
    /* transform: rotateZ(270deg); */
    transform: rotate(45deg);
}

.scale {
    width: 200px;
    height: 100px;
    background-color: rgb(10, 120, 36);
    margin: 100px;
    /* transform: scaleX(0.5); */
    /* transform: scaleY(5); */
    /* transform: scale(2); */
    /* transform: scale(1.5, 2); */
}

.translate {
    width: 200px;
    height: 100px;
    background-color: rgb(67, 13, 129);
    margin: 100px;
    /* transform: translateX(-100px); */
    /* transform: translateY(100px); */
    /* transform: translate(100px); */
    transform: translate(100px, 200px);
}

.skew {
    width: 200px;
    height: 100px;
    background-color: rgb(127, 133, 4);
    margin: 100px;
    /* transform: skewX(330deg); */
    /* transform: skewY(30deg); */
    transform: skew(30deg, 45deg);
}