* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url('images/netflix-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 0.8; */
}

nav {
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 50px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav select {
    background-color: #111313;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-size: 17px;
}

nav button {
    background-color: #e41520;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: white;
}

.hero {
    color: white;
    display: flex;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.hero h3 {
    font-size: 65px;
    font-weight: bolder;
    width: 40%;
}

.hero h6 {
    font-size: 22px;
}

.hero p {
    font-size: 18px;
}

.contact {
    display: flex;
    gap: 5px;
}

.contact input {
    padding: 15px 50px 15px 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}

.contact button {
    background-color: #e41520;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.curve {
    height: 100px;
    /* width: 150%; */
    background: linear-gradient(to bottom, #10193C, rgb(0, 0, 0));
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: relative;
    bottom: 100px;
    border-top: 5px solid #e41520;
}

.trending {

    background-color: black;
    padding: 20px 150px;
    color: white;
}

.trending h4 {
    font-size: 28px;
    margin: 15px 0;
}

.movies {
    display: flex;
    gap: 40px;
    width: 100%;
    overflow-x: scroll;
    /* z-index: -1; */
}

.movies::-webkit-scrollbar {
    display: none;
}

.movie {
    width: 200px;
    border-radius: 10px;
    background-color: #e41520;
    position: relative;
}

.movie img {
    border-radius: 10px;
    /* height: 100%; */
    width: 200px;
}

.movie h2 {
    position: absolute;
    left: -20px;
    bottom: 20px;
    font-size: 100px;
}


@media (max-width: 450px) {
    nav {
        padding: 20px;
    }

    nav img {
        height: 30px;
    }

    .hero h3 {
        font-size: 35px;
        width: 70%;
    }

    .hero h6 {
        font-size: 18px;
    }

    .hero p {
        width: 80%;
    }

    .contact {
        flex-direction: column;
        gap: 10px;
    }

    .contact input {
        padding: 10px 15px;
    }

    .contact button {
        padding: 5px 10px;
        font-size: 18px;
        font-weight: normal;
    }
}

@media (min-width: 450px) and (max-width: 780px) {
    nav {
        padding: 20px;
    }

    nav img {
        height: 30px;
    }
}