@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    background-color: white;
    padding: 20px 200px;
    /* height: 300px; */
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    /* align-items: start; */
    align-items: center;
    /* align-items: end; */
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul {
    list-style: none;
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(86, 86, 86);
}

.logo img {
    height: 25px;
}

.btn {
    background-color: #4CAF4F;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn i {
    transform: rotate(270deg);
}

main {
    background-color: #F5F7FA;
    padding: 100px 200px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#left-content h1 {
    font-size: 55px;
    color: #212121;
    line-height: 1.3;
}

#left-content h1 span {
    color: #4CAF4F;
}

#left-content p {
    font-size: 18px;
    color: #616161;
}

#right-content {
    width: 40%;
}

#right-content img {
    width: 90%;
}