<body>
    <h2>Array Loop with forEach</h2>
    <div>
        <h3>Fruits</h3>
        <ul>
            <%fruits.forEach((fruit)=>{ %>
                <li>
                    <%=fruit %>
                </li>
                <% })%>
        </ul>
    </div>
</body>