#btn {
    background-color: blueviolet;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 25px;
}

#btn:hover {
    background-color: black;
    color: red;
}

#btn:active {
    background-color: yellow;
    color: green;
    height: 30px;
    width: 130px;
    font-size: 20px;
}

.para {
    font-size: 30px;
    color: red;
}

/* .para:hover {
    color: blue;
} */
#input {
    background-color: ghostwhite;
    height: 40px;
    width: 200px;
    font-size: 25px;
}

#input:focus {
    background-color: rgb(71, 69, 69);
    color: white;
}

.para::first-letter {
    font-size: 40px;
    color: blue;
    font-style: italic;
    font-weight: bolder;
}

.para::first-line {
    font-size: 35px;
    color: green;
}

.para::before {
    content: "Hello";
}

.para::after {
    content: "Bye";
}

.container {
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    padding: 20px;
    color: red;
    /* padding: 20px 40px; */
    /* padding: 20px 40px 60px; */
    /* padding: 20px 40px 60px 80px; */
    /* padding-left: 20px; */
    /* border-width: 10px; */
    /* border-style: solid; */
    /* border-style: dashed; */
    /* border-style: dotted; */
    /* border-style: double; */
    /* border-color: green; */
    border: 15px solid blueviolet;
    border-radius: 40px;
    /* border-radius: 50%; */
    border-bottom: 10px dashed red;
    /* margin: 40px; */
    /* margin: 20px 40px; */
    /* margin: 20px 40px 10px; */
    margin: 20px 40px 10px 30px;
    box-shadow: 0px 0px 10px gray;
    box-sizing: content-box;
}

.container h2 {
    text-shadow: 10px 10px 4px gray;
}












* {
    margin: 0;
    padding: 0;
}

.container img {
    height: 100px;
    width: 100px;
}