@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.clients {
    background-color: white;
    padding: 40px 150px;
}

.clients h3,
.clients p {
    text-align: center;
    margin-bottom: 10px;
}

.clients h3 {
    font-size: 35px;
    color: #4D4D4D;
}

.clients p {
    font-size: 18px;
    color: #7D7D7D;
}

.client-icons {
    margin-top: 40px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    /* grid-template-columns: 200px 200px 200px 300px 100px; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 2fr 3fr 3fr 2fr; */
    grid-template-rows: 200px 200px 200px;
    /* gap: 20px; */
    grid-gap: 10px;
}

.box1 {
    grid-row: span 2;
}

.box3 {
    grid-column: span 2;
}

.box4 {
    grid-column: span 3;
}

.client-icons div {
    background-color: #4D4D4D;
    border: 5px solid black;
}