@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.marketing {
    background-color: white;
    padding: 50px 150px;
    text-align: center;
}

.marketing h3 {
    font-size: 35px;
    color: #4D4D4D;
}

.intro {
    color: #717171;
    width: 55%;
    margin: 10px auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.card {
    border-radius: 10px;
    height: 300px;
    position: relative;
}

.card img {
    height: 100%;
    width: 100%;
}

.details {
    background-color: #F5F7FA;
    color: #717171;
    padding: 15px;
    border-radius: 7px;
    width: 90%;
    /* margin: auto; */
    position: absolute;
    left: 5%;
    /* bottom: -80px; */
    top: 220px;
}

.details p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.details a {
    text-decoration: none;
    color: green;

}